.milliboxtop{
  background:linear-gradient(#fce88a,#cab76e);
  font-size:160%;
  color:#020202;
  padding:10px 20px;
  font-weight:bold;
  border-right:solid 0px black;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
}
.milliboxtop:before{
  font-size:140%;
  content:"\28FF"
}
.milliboxbody{
  background:white;
  color:#020202;
  font-weight:bold;
  padding:7px 10px;
  border-left:solid 0px black;
  border-right:solid 0px black;
  overflow-y:scroll;
  padding:0px 25px 0px 25px; 
}
.milliboxbody::-webkit-scrollbar {
  display: none;
}
.milliboxfoot{
  background:#cfcfcf;
  padding:35px  18px ;
  border:solid 0px black;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  text-align:center;
}

.button{
  box-sizing:border-box;
  position:relative; 
background: -webkit-gradient(linear, right center, left center, from(#dfe6f6), to(#ffffff)); 
  padding:10px 35px;
  margin: 55px;
  color:#020202;
    font-size:150%;
  text-decoration:none;
  border-radius:50px;
  border:solid 2px black;
  box-shadow:0px 0px 0px 4px #b6b6b6;
  font-weight:bold;
}
.button:hover{
  background: -webkit-gradient(linear, right center, left center,     from(#7e7e7f), to(#7e7e7f)); 
}
.button2{
  box-sizing:border-box;
  position:relative; 
background: -webkit-gradient(linear, right center, left center, from(#ff4041), to(#ff7c9d)); 
  padding:10px 35px;
  margin: 55px;
  color:#ffeaec;
    font-size:150%;
  text-decoration:none;
  border-radius:50px;
  border:solid 2px black;
  box-shadow:0px 0px 0px 4px #b6b6b6;
  font-weight:bold;
}
.button2:hover{
  background: -webkit-gradient(linear, right center, left center,     from(#7f2528), to(#7f2528)); 
}
.shadow{
    box-shadow: 8px 8px 10px 3px rgba(0,0,0,0.6);
    border-radius:30px;
}


