#olympic{
	 
	text-align:center;
	 margin-top:250px;
	font-size:48px;
	margin-bottom:24px;
	color:#ffffff;
	
}

#olympic span{
	color:#FF0000;
}

#olympicDate{
	text-align:center;
	font-size:18px;
	margin-bottom:24px;
}
