#olympic{
	text-align:center;
	font-size:50px;
	margin-bottom:24px;
	padding-top:250px;
	color:#ffffff;
	font-family: 'Special Elite', cursive;

}

#yuka{
	text-align:center;
	font-size:50px;
	margin-bottom:24px;
	padding-top:250px;
	color:#ffffff;
	font-family: 'Play', sans-serif;
}



#olympicDate{
	text-align:center;
	font-size:18px;
	margin-bottom:24px;
	color:#ffffff;

}
<style>
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Play');
</style>
